.plot {
    position: relative;
    display: block;
    width: 500px;
    margin: 10px auto;
}

.plot-dots {
    position: absolute;
    top: 0;
    left: 30px;
    width: calc(100% - 60px);
    height: 300px;
    background-color: #f0f0f0;
}

.plot-start-date,
.plot-end-date {
    line-height: 30px;
    position: absolute;
    text-align: center;
    width: 300px;
    height: 30px;
}

.plot-start-date {
    top: -30px;
    transform: rotate(90deg);
    transform-origin: left bottom 0;
}

.plot-end-date {
    top: -30px;
    left: calc(100% - 30px);
    transform: rotate(90deg);
    transform-origin: left bottom 0;
}

.plot-dots-dot {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-bottom: -10px;
    border-radius: 10px;
    background-color: #65bcd4;
}

.plot-status {
    display: block;
    padding: 300px 10px 10px 10px;
    box-sizing: border-box;
}

.plot-status>label {
    text-align: center;
    padding-top: 5px;
}

.plot-status-name {
    display: block;
}

.plot-empty .plot-status-count {
    display: none;
}

.plot-loading .plot-status-count,
.plot-loaded .plot-status-count,
.plot-error .plot-status-count {
    display: block;
}

.plot-loading .plot-status-count::before {
    display: inline;
    content: '⌛';
}

.plot-error .plot-status-error {
    display: block;
    color: #ff0000;
}